// Import your own custom fonts from e.g. web sources

// * Note: If you are adding own custom font files in the project,
// * remember to add them to webpack config for improved load time.

@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700');

// Global variables
$font-stack: 'Merriweather Sans', Helvetica, sans-serif;
$primary-color: #333;

$anchor-color: #005200;
$anchor-color-hover: #009b00;

$body-background: #27ae60;

$material-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

@mixin material-box {
   background: blue;
   background:#ecf0f1;
   padding:1.5em;
   margin:1em;
   box-shadow: $material-box-shadow;
}

body {
  font: 100% $font-stack;
  font-size: 1em;
  font-size: 16px; /* IE Fix*/
  color: $primary-color;
  background: $body-background;
}

#app{
   display: block;
   width:85%;
   margin-left: auto;
   margin-right: auto;
   margin-top:3em;
   vertical-align: middle;
}

header, footer{
   @include material-box()
}

footer{
   & .footer-link{
      float:right;
      display: inline-block;
   }
}

p, a, li, span, input{
   font-weight: 400;
}

h1, h2, h3, h4, h5, h6, strong{
   font-weight: 700;
}

a, button{
   transition: all 0.2s ease;
}

nav{
   a{
      margin-right: 1.5em;
      color: #2980b9;
      //Using parent selector &
      &:hover{
         color: #2c3e50;
      }
   }
}
