// Import your own custom fonts from e.g. web sources

// * Note: If you are adding own custom font files in the project,
// * remember to add them to webpack config for improved load time.

@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700');

// Global variables
$font-stack: 'Merriweather Sans', Helvetica, sans-serif;
$primary-color: #212121;

$anchor-color: #a0a0a0;
$anchor-color-hover: #212121;

$body-background: #F5F5F5;

$accent-color: #00BCD4;
$focus-accent-color: #006064;

$material-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

@mixin material-box {
   background:#4CAF50;
   padding:1.5em;
   margin:1.5em;
   box-shadow: $material-box-shadow;
   border-radius: 0.25em;
   height: auto;
   overflow: hidden;
}

@mixin material-button {
   background: $accent-color;
   color: white;
   font-weight: bold;
   padding-left:1em;
   padding-right: 1em;
   padding-top:0.5em;
   padding-bottom:0.5em;

   border:0;
   border-radius: 0.25em;

   font: 100% $font-stack;

   &:hover{
      background: $focus-accent-color;
      cursor: pointer;
   }
}

@mixin material-input{
   border:0;
   border-bottom:0.1em solid #BDBDBD;
   padding:0.5em;
   margin-right: 1em;
   font: 100% $font-stack;

   &:focus{
      border-bottom:0.1em solid $focus-accent-color !important;
      outline: none;
   }
}

@mixin material-icon{
   font-size: 2em;
   margin-left: 1em;
   margin-right: 1em;
}

.fa{
   @include material-icon()
}

html, body{
   width:100%;
   height:100%;
   margin:0;
   padding:0;
   line-height: 1.25em;
}

body *{
   box-sizing: border-box;
}

body {
  font: 100% $font-stack;
  font-size: 1em;
  font-size: 16px; /* IE Fix*/
  color: $primary-color;
  background: $body-background;
  margin:0;
  padding:0;
}

button{
   @include material-button()
}

#app{
   display: block;
   width:100%;
   margin:0;
   vertical-align: middle;
}

.component{
   @include material-box()
}

header,footer{
    padding: 1.5em;
}

header{
    overflow: hidden;
    height: auto;
    vertical-align: middle;

   & .subtitle{
      display: block;
      margin-bottom:1.5em;
   }

   h1{
       margin-top: 0;
       padding-top: 0;
   }
}

main{
   width:100%;
   padding-left:1.5em;
   padding-right: 1.5em;
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top:3em;
   margin-bottom:3em;
   overflow: hidden;
   height: auto;

   & .component{
      margin-left: 0;
      background:#fff;
   }
}

footer{
   & .footer-link{
      float:right;
      display: inline-block;
   }
}

p, a, li, span, input{
   font-weight: 400;
}

h1, h2, h3, h4, h5, h6, strong{
   font-weight: 700;
}

a, button{
   transition: all 0.2s ease;
}

nav{
    vertical-align: middle;

   a{
      margin-right: 1.5em;
      text-decoration: none;
      color: $anchor-color;

      //Using parent selector &
      &:hover{
         color: $anchor-color-hover;
      }

      &.active{
         color: $anchor-color-hover;
         text-decoration: underline;
      }
   }
}

input{
   @include material-input()
}

/* ===== Basic grid ===== */
.whole{
   width:100%;
}

.half{
   width:50%;
}

.one-third{
   width:33.33%;
}

.two-thirds{
   width:66.66%;
}

.float{
   display: inline-block;
   overflow:hidden;
   vertical-align: top;
}

.left{
   float:left;
}

.right{
   float:right;
}





/* ===== CUSTOM STYLES ====== */

.brewski-element{
   height: auto;
   overflow: hidden;
   margin-top:1.5em;
   padding-right: 1em;
}

.brewski-element img{
   display: inline-block;
   width:20%;
   height: 15em;
   float:left;
   padding:1.25em;
   object-fit: contain;
}

.brewski-text{
   display: inline-block;
   float: right;
   width:80%;
}

.brewski-text .text{
   transition: max-height .25s ease;
   display: block;
   overflow: hidden;
}

.text.collapsed{
   max-height:0;
}

.text.open{
   max-height:20em;
}
